body {
  background-color: bisque;
  margin: 0;
  font-family: sans-serif;
  color: black;
}

.mycelium-growth-container {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
}

label {
  display: block;
  margin-top: 10px;
}

input #number {
  margin-left: 10px;
  width: 100px;
  padding: 5px;
}

button {
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  background-color: bisque;
}

h3 {
  margin-top: 20px;
  color: black;
}

img {
  max-width: 100px;
  height: auto;
  margin-top: 10px;
}
